/************************* HOME ***************************/
.accueil2{
    z-index: -1;
}

.accueil{
    display: flex;
    margin-top: 40px;
    padding-left: 15%;
    position: relative;
}
.ac{
    transform: translateX(1px);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -1;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 6%;
}
input.recherche{
    margin-left: 6%;
    background-color: #008ecf;
    text-align: right;
    padding-right: 16px;
    height: 31px;
    border-radius: 16px;
    border: none;
    outline: none;
}
input::placeholder {
    color: white;
}
.recherche input:not(:placeholder-shown) {
    color: white;
}

/* Navbar interface administrateur */
.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #001a4b;
}
.navbar *{
    margin:8px
}
.link{
    position: absolute;
    right: 0%;
}
.link *{
    color: white;
}
.navbar h1{
    color: white;
}
.navbar input{
    margin-left: 40px;
    height: 35px;
    border-radius: 17px;
    border: none;
}

/******************* LOGIN *********************/
h3{
    color: #00a3e6;
    text-align: center;
}
.login{
    display: flex;
    position: relative;
}
.formulaire{
    padding-left: 50px;
    margin-right: 10%;
    margin-left: auto;
    border: 5px solid #00a3e6;
    width: 24vw;
    text-align: center;
    height: 65vh;
    display: block;
    border-radius: 20px;
    color: white;
}
.formulaire div{
    margin-top: 77px;
}
.formulaire input{
    background-color: #ffffff00;
    border: none;
    outline: none;
    border-bottom: 3px solid #00a3e6;
}
label{
    padding-right: 20px;
}
.btn{
    margin-top: 63px;
    margin-left: 32%;
    color:white;
    border-radius: 25px;
    height: 32px;
    background-color: #00a3e6;
    outline: none;
    border: none;
}
.gauche{
    width: 24vw;
    height: 24vw;
    border-radius: 11%;
    transform: rotate(45deg);
    position: absolute;
    left: 5%;
    bottom: 14%;
    background-color: #EDE7F6;
    box-shadow: 20px -19px 0px 11px #00a3e6;
}
/* *********************list users*********************** */
.listUser, .listUser td{
    border: 2px solid #ddd;
    border-collapse: collapse;
}
.listUser{
    margin: auto;
    text-align: center;
}
.listUser .list{
    box-shadow: inset 0px 3px 5px 0px #8d8d8d;

}
.listUser a{
    margin-left: 0;
}
.listUser a>div{
    background-color: #e77373;
    padding: 10%;
    padding-left: 10px;
    padding-right: 10px;
}

/* **********************Seection******************** */
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

.select-style select:focus {
    outline: none;
}